#game-wrapper {
    margin-left: 200px;
}

#reset-button {
    background-color: black;
    border: 1px solid green;
    border-radius: 4px;
    color: white;
    margin-top: 20px;
    text-align: center;
}

#playfield {
    min-width: 1000px;
}

#controller, #no-controller {
    width: 300px;
    height: 20px;
    background: white;
    color: black;
    border: 1px solid white;
}

.block {
    border: 1px solid white;
    background-color: silver;
    padding: 20px;
}

.player {
    background-color: lime;
}

.bouncer {
    background-color: red !important;
}

.wall {
    background-color: #222222;
}

.death {
    background-color: black;
    transition: background-color ease-in-out 500ms;
}
